<div id="container">
	<% for place in @places %>
		<div class="list_item">
			<p><%= place.name %></p>
			<p>
				<%= link_to image_tag(place.review_photo(:thumb)), reviews_path(place: place), 
				{ remote: true , "data-toggle" => "modal" }%>
			</p>
		</div>
	<% end %>
</div>